# T.H.O.R. config file
# This is an example file for all possible settings
# and follows the TOML format, this should be placed
# at your home directory

[core]
verbosity = 0
socket = ""
settings_db = ""

[server]
addr = ""
static.root = ""
user = ""
password = ""
ssh_port = 0
token = ""

[github]
organization = ""
app_id = 0
installation_id = 0
client_id = ""
client_secret = ""
webhook_secret = ""
pem_file = ""

[gitea]
token = ""
organization = ""
base_url = ""

[discord]
token = ""
prefix = ""
alert_channel_id = ""
