# T.H.O.R. config file
# This is an example file for all possible settings
# and follows the TOML format, this should be placed
# at your home directory or passed to the --config flag

[server]
addr = ""
static.root = ""
user = ""
password = ""
ssh_port = 0

[github]
token = ""
organization = ""

[gitea]
token = ""
organization = ""
base_url = ""
